@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  line-height: 16px; }

body {
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Nunito', sans-serif; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a[href] {
  text-decoration: none; }

input:focus {
  border-radius: 1px solid red; }

/* Thanh Scroll */
body::-webkit-scrollbar {
  width: 4px; }

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #1c6758; }

.hidden {
  display: none !important; }

.btn {
  transition: 0.2s;
  cursor: pointer;
  padding: 6px 12px 5px;
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30px;
  border-radius: 5px;
  outline: none; }

.btn-sort {
  cursor: pointer; }
  .btn-sort:hover {
    color: #0e483d; }

.app {
  overflow: hidden; }

.header {
  height: 130px;
  /* deg: Có thể xoay theo độ (vd: 45, 90, 120,...) */
  background-color: #1c6758;
  /* Để cố định header trên đầu khi lướt phải dùng fixed */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100; }

.header__navbar {
  height: 34px;
  display: flex;
  justify-content: space-between; }

.header__navbar-list {
  z-index: 1;
  display: flex;
  padding-left: 0;
  list-style: none; }

.header__navbar-item {
  margin: 0 8px;
  min-height: 2.6rem;
  position: relative; }

.header__navbar-item,
.header__navbar-item-link {
  display: inline-block;
  font-size: 1.4rem;
  text-decoration: none;
  color: #fff;
  font-weight: 400; }

.header__navbar-user {
  display: flex;
  justify-items: center;
  position: relative; }

.header__navbar-user-img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1); }

.header__navbar-user-name {
  margin: 2px 4px 0;
  font-size: 1.4rem;
  font-weight: 400; }

.header__navbar-user:hover .header__navbar-user-menu {
  display: block; }

.header__navbar-user-menu {
  position: absolute;
  top: calc(100% + 6px);
  right: 0;
  width: 160px;
  padding-left: 0;
  list-style: none;
  border-radius: 2px;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  animation: growth ease-in 0.2s;
  transform-origin: calc(100% - 20px) top;
  display: none; }

.header__navbar-user-menu::before {
  content: '';
  position: absolute;
  top: -22px;
  right: 12px;
  border: solid;
  border-width: 11px 13px;
  border-color: transparent transparent #fff transparent; }

.header__navbar-user-menu::after {
  content: '';
  position: absolute;
  top: -13px;
  right: 0px;
  width: 55%;
  height: 12px; }

.header__navbar-user-item {
  padding: 9px; }

.header__navbar-user-item a {
  color: #444;
  text-decoration: none;
  display: block;
  font-size: 1.4rem; }

.header__navbar-user-item:first-child {
  /* margin-top: 8px; */
  border-top-left-radius: 2px;
  border-top-right-radius: 2px; }

.header__navbar-user-item:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px; }

.header__navbar-user-item:hover {
  background-color: #eee; }

.header__navbar-user-item--seperate {
  border-top: 1px solid #ddd; }

/* Icon thẳng hàng với chữ */
.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
  display: flex;
  align-items: center; }

.header__navbar-item:hover,
.header__navbar-item:hover .header__navbar-item-link,
.header__navbar-icon-link:hover {
  cursor: pointer;
  /* Thay vì để "opacity: 0.7" thì để màu vì thẻ "Kết nối" k nhấn vào được */
  color: rgba(255, 255, 255, 0.7); }

/* Vạch phân cách */
.header__navbar-item--seperate::after {
  content: '';
  right: -10px;
  height: 16px;
  display: inline-block;
  position: absolute;
  /* Căn giữa dòng chữ */
  top: 50%;
  /* Căn giữa dòng chứa chữ */
  transform: translateY(-50%);
  border-left: 2px solid #fb9086; }

.header__navbar-icon-link {
  text-decoration: none;
  color: #fff; }

.header__navbar-icon-link:nth-child(2) {
  margin-left: 4px; }

.header__navbar-icon-link:nth-child(3) {
  margin-top: 2px; }

.header__navbar-icon {
  margin: 0 4px;
  font-size: 1.6rem; }

/* Riêng thẻ "Kết nối" là không nhấn vào được */
.header__navbar-title--no-pointer {
  cursor: text;
  user-select: none;
  color: #fff; }

/* Hiển thị QR Code khi hover */
.header__navbar-item--has-qr:hover .header__qr {
  display: block; }

/* Header QR Code */
.header__qr {
  position: absolute;
  top: 120%;
  left: 0;
  padding: 2px;
  width: 180px;
  border-radius: 2px;
  background-color: #fff;
  animation: fadeIn ease-in 0.2s;
  z-index: 1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: none; }

/* Thêm 1 đoạn nhỏ vô hình như cầu nối vào QR Code */
.header__qr::before {
  content: '';
  position: absolute;
  top: -15px;
  left: 0;
  width: 100%;
  height: 20px;
  display: block; }

.header__qr-img {
  width: 100%; }

.header__qr-apps {
  justify-content: space-between; }

.header__qr-dowload-img {
  height: 16px; }

.header__qr-link:nth-child(1) {
  margin-left: 10px; }

.header__qr-link:nth-child(2) {
  margin-right: 8px; }

.header__qr-link:nth-child(3) {
  margin-left: 10px; }

/* Hiển thị bảng thông báo khi hover */
.header__navbar-item--has-notify:hover .header__notify {
  display: block; }

/* Header Notify */
.header__notify {
  position: absolute;
  top: 120%;
  right: 0;
  width: 400px;
  border-radius: 2px;
  animation: growth ease-in 0.2s;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  /* Khai báo để trình duyệt tối ưu chuyển động */
  will-change: opacity transform;
  /* Điểm mốc tỏa ra ban đầu cho hiệu ứng lớn dần */
  transform-origin: calc(100% - 32px) top;
  display: none; }

/* Mũi tên chỉ lên */
.header__notify::before {
  content: '';
  position: absolute;
  top: -29px;
  right: 14px;
  border: solid;
  /* Cho box thành hình chữ nhật để có mũi tên dẹp */
  border-width: 18px 26px;
  /* Chia box làm 4 sau đó ẩn 3 tam giác còn lại. Chỉ lấy tam giác chỉa lên */
  border-color: transparent transparent #fff transparent; }

.header__notify::after {
  content: '';
  position: absolute;
  top: -12px;
  right: 0;
  width: 90px;
  height: 12px; }

.header__notify-header {
  height: 40px;
  margin-left: 12px;
  background-color: #fff;
  /* Không cho copy */
  user-select: none; }

.header__notify-header h5 {
  color: #999;
  margin: 0;
  font-size: 1.3rem;
  font-weight: 400;
  /* Bằng với chiều cao của thèn chứa nó để căn giữa */
  line-height: 40px; }

.header__notify-list {
  padding-left: 0; }

.header__notify-item {
  display: flex; }

.header__notify-item:hover {
  background-color: #eee; }

.header__notify-link {
  display: inline-flex;
  padding: 8px;
  text-decoration: none; }

.header__notify-img {
  width: 50px;
  object-fit: contain; }

.header__notify-info {
  margin-left: 12px; }

.header__notify-name {
  font-size: 1.4rem;
  display: block;
  font-weight: 400;
  color: #000;
  /* Trường hợp nội dung nhiều thì vẫn giữ đúng khoảng cách giữa các chữ */
  line-height: 1.6rem; }

.header__notify-description {
  display: block;
  margin-top: 4px;
  color: #444;
  font-size: 1.2rem; }

.header__notify-description span {
  font-weight: 500; }

.header__notify-footer:hover {
  background-color: #eee; }

.header__notify-footer-btn {
  text-decoration: none;
  color: #000;
  width: 100%;
  padding: 12px 0;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  display: block; }

/* Register Form */
.auth-form__container {
  padding: 12px 28px; }

.auth-form__heading {
  font-size: 2rem;
  font-weight: 400;
  color: #000; }

.auth-form__form {
  margin-top: 25px; }

.auth-form__group {
  display: flex;
  padding: 0 10px;
  margin-bottom: 12px;
  font-size: 1.4rem;
  align-items: center;
  color: #444;
  border-radius: 3px;
  border: 1px solid #ddd; }

.auth-form__group:focus {
  border-color: #666; }

.auth-form__group .icon-eye {
  cursor: pointer; }

.auth-form__input {
  width: 100%;
  padding: 12px;
  border: none;
  /* Bỏ viền sáng xung quanh text khi nhấn vào */
  outline: none; }

/* Button Register */
.btn--active {
  width: 100%;
  height: 40px;
  /* display: block; */
  font-weight: 500; }

.btn--register:hover {
  opacity: 0.9; }

/* Line "HOẶC" */
.line {
  position: relative;
  margin-top: 12px;
  text-align: center; }

.line:after {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  background-color: #ddd;
  top: 50%;
  left: 0;
  transform: translateY(-50%); }

.line-text {
  position: relative;
  display: inline-block;
  padding: 0 16px;
  font-size: 1.4rem;
  font-weight: 400;
  color: #444;
  background-color: #fff;
  z-index: 1; }

/* Item Socials */
.auth-form__socials {
  display: flex;
  justify-content: space-between; }

.btn--width-icon {
  text-decoration: none;
  color: #fff; }

.fa-apple,
.fa-google,
.fa-facebook-f {
  font-size: 1.8rem;
  margin-right: 12px; }

.auth-form__socials--facebook {
  background-color: #3b5999; }

.auth-form__socials--google {
  background-color: #4285f4; }

.auth-form__socials--apple {
  background-color: #000; }

.auth-form__socials--facebook:hover,
.auth-form__socials--google:hover,
.auth-form__socials--apple:hover {
  opacity: 0.9; }

/* Thanh điều khoản */
.auth-form__aside {
  margin-top: 15px; }

.auth-form__policy-text {
  padding: 6px 12px;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.6rem; }

.auth-form__policy-text span {
  display: block; }

.auth-form__text-link {
  color: #1c6758;
  text-decoration: none; }

.auth-form__wonder {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 18px; }

.auth-form__wonder-text {
  display: inline-block;
  color: #444;
  font-size: 1.4rem; }

.auth-form__wonder-login {
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 10px;
  color: #1c6758; }

/* Login Form */
.auth-form__help {
  display: flex;
  justify-content: flex-end; }

.auth-form__help-link {
  /* margin: auto; */
  text-decoration: none;
  font-size: 1.4rem;
  color: #1c6758; }

/* Header with search */
.header-with-search {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  align-items: center; }

.header__mobile-search {
  padding: 0 12px;
  display: none; }

.header__mobile-search-icon {
  font-size: 2.6rem;
  color: #fff; }

.header-search-checkbox:checked ~ .header__search {
  display: flex; }

.header__logo-img {
  background: url("https://cf.shopee.vn/file/d734f6291f072bb855371432da462d65") center/contain no-repeat;
  width: 236px;
  height: 80px; }

.header__logo-link {
  text-decoration: none;
  display: block;
  line-height: 0; }

.header__search {
  width: 550px;
  background-color: #fff;
  height: 40px;
  border-radius: 2px;
  /* Cho flex ở cha để chứa thèn "Trong Shop" */
  display: flex;
  align-items: center; }

.header__search-input-wrap {
  position: relative;
  flex: 1;
  height: 100%; }

.header__search-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.4rem;
  padding: 0 16px;
  border-radius: 2px;
  color: #444; }

/* Click chuột vào ô tìm kiếm để hiển thị ra lịch sử */
.header__search-input:focus ~ .header__search-history {
  display: block; }

/* Search History */
.header__search-history {
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  padding: 0;
  width: calc(100% - 20px);
  border-radius: 2px;
  box-shadow: 0 0 3px #ccc;
  background-color: #fff;
  overflow: hidden;
  z-index: 1;
  display: none; }

.header__search-history-heading {
  margin: 12px;
  color: #999;
  font-size: 1.4rem; }

.header__search-history-list {
  margin: 0;
  padding-left: 0;
  list-style: none; }

.header__search-history-item {
  padding: 8px 12px; }

.header__search-history-item a {
  font-size: 1.4rem;
  text-decoration: none;
  color: #444; }

.header__search-history-item:hover {
  cursor: pointer;
  background-color: #eee; }

.header__search-select {
  position: relative;
  padding-left: 16px;
  border-left: 1px solid #ccc; }

.header__search-select-label {
  padding: 11px 0;
  font-size: 1.6rem;
  color: #444; }

.header__search-select-icon {
  font-size: 1.4rem;
  padding: 0 16px 0 8px;
  color: #444; }

.header__search-select:hover .header__search-option {
  display: block; }

.header__search-option {
  position: absolute;
  top: calc(100% - 3px);
  right: 0;
  width: 145px;
  padding-left: 0;
  list-style: none;
  margin-top: 16px;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.281);
  z-index: 1;
  display: none; }

.header__search-option::after {
  content: '';
  position: absolute;
  display: block;
  right: 0;
  top: -10px;
  width: 100%;
  height: 16px; }

.header__search-option-item {
  padding: 10px; }

.header__search-option-item:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px; }

.header__search-option-item:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px; }

.header__search-option-item:hover {
  cursor: pointer;
  background-color: #eee; }

.header__search-option-item span {
  font-size: 1.4rem;
  margin-left: 12px;
  color: #444; }

.header__search-option-item i {
  font-size: 1.4rem;
  margin-left: 12px;
  color: #1c6758;
  display: none; }

.header__search-option-item--active i {
  display: inline-block; }

.header__search-btn {
  background-color: #1c6758;
  border: none;
  outline: none;
  padding: 8px;
  width: 60px;
  height: 35px;
  margin-right: 3px;
  border-radius: 2px; }

.header__search-btn:hover {
  opacity: 0.9;
  cursor: pointer; }

.header__search-btn-icon {
  color: #fff;
  font-size: 1.4rem; }

/* Cart Layout */
.header__cart {
  padding: 8px;
  text-align: center; }

.header__cart-wrap {
  display: inline-block;
  position: relative;
  padding: 12px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; }

.header__cart-wrap:hover .header__cart-list {
  display: block; }

.header__cart-icon {
  font-size: 2.4rem;
  color: #fff; }

.header__cart-notice {
  position: absolute;
  top: 2px;
  right: -3px;
  padding: 0px 6px;
  font-size: 1.4rem;
  border-radius: 10px;
  border: 2px solid #ee4d2d;
  color: #1c6758;
  background-color: #fff; }

.header__cart-list {
  position: absolute;
  top: calc(100% - 2px);
  right: -10px;
  width: 400px;
  cursor: default;
  border-radius: 2px;
  background-color: #fff;
  /*  ngang - dọc - mờ - độ lớn - màu */
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
  animation: growth ease-in 0.2s;
  /* Khai báo để trình duyệt tối ưu chuyển động */
  will-change: opacity transform;
  /* Điểm mốc tỏa ra ban đầu cho hiệu ứng lớn dần */
  transform-origin: calc(100% - 20px) top;
  z-index: 1;
  display: none; }

.header__cart-list::after {
  content: '';
  position: absolute;
  top: -33px;
  right: 0px;
  cursor: pointer;
  border-style: solid;
  border-width: 23px 33px;
  border-color: transparent transparent #fff transparent; }

.header__cart-list--no-cart {
  padding: 12px 0; }

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list--no-cart-msg {
  /* display: block; */
  margin-left: auto;
  margin-right: auto; }

.header__cart-no-cart-img {
  width: 55%;
  display: none; }

.header__cart-list--no-cart-msg {
  padding: 12px;
  margin-top: 12px;
  font-size: 1.4rem;
  display: none; }

/* Has Cart */
.header__cart-heading {
  color: #999;
  text-align: left;
  font-size: 1.4rem;
  margin: 0 12px 12px; }

.header__cart-list-item {
  padding-left: 0;
  list-style: none;
  /* Độ cao chứa các sản phẩm đã thêm bằng 28% chièu cao màn hình */
  max-height: 28vh;
  /* Chứa thèn con thừa ra và hiển thị thanh scroll */
  overflow-y: auto; }

.header__cart-item {
  display: flex;
  align-items: center; }

.header__cart-item:hover {
  cursor: pointer;
  background-color: #eee; }

.header__cart-img {
  width: 42px;
  height: 42px;
  margin: 12px;
  border: 1px solid #ddd; }

.header__cart-item-info {
  width: 100%;
  margin-right: 12px; }

.header__cart-item-head {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.header__cart-item-name {
  margin: 0;
  padding-right: 12px;
  font-size: 1.4rem;
  font-weight: 500;
  flex: 1;
  text-align: left;
  color: #444;
  /* Tối đa chỉ có 1 dòng duy nhất */
  overflow: hidden;
  line-height: 1.6rem;
  max-height: 1.6rem;
  /* Ẩn bớt nội dung và thể hiện = dấu 3 chấm */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; }

.header__cart-item-price {
  font-size: 1.6rem;
  font-weight: 400;
  color: #1c6758; }

.header__cart-item-body {
  display: flex;
  margin-top: 10px;
  justify-content: space-between; }

.header__cart-item-description {
  font-size: 1.2rem;
  color: #444; }

.header__cart-item-remove {
  font-size: 1.3rem;
  font-weight: 500;
  color: #444; }

.header__cart-item-remove:hover {
  cursor: pointer;
  color: #1c6758; }

.header__cart-item-view-cart {
  float: right;
  padding: 10px;
  font-weight: 400;
  margin-right: 25px;
  text-decoration: none; }

.header__cart-item-view-cart:hover {
  opacity: 0.9; }

/* Header Sort Bar */
.header__sort-bar {
  position: fixed;
  top: 130px;
  left: 0;
  right: 0;
  height: 46px;
  background-color: #fff;
  list-style: none;
  display: flex;
  margin: 0;
  padding-left: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  display: none; }

.header__sort-item {
  flex: 1; }

.header__sort-link {
  text-decoration: none;
  color: #444;
  font-size: 1.4rem;
  display: block;
  height: 100%;
  line-height: 46px;
  text-align: center;
  position: relative; }

.header__sort-link::after {
  content: '';
  position: absolute;
  height: 60%;
  left: 0;
  /* Di chuyển xuống dưới khoảng 50% kích thước của thẻ cha */
  top: 50%;
  /* Di chuyển lên trên khoảng 50% kích thước của thẻ con */
  transform: translateY(-50%);
  border-left: 1px solid #ddd; }

.header__sort-item:first-child .header__sort-link::after {
  display: none; }

.header__sort-item--active .header__sort-link {
  color: #1c6758; }

.header__sort-icon {
  margin-left: 4px;
  font-size: 1.6rem;
  color: #444;
  position: relative;
  top: 1px; }

/* App Container */
.app__container {
  background-color: #f5f5f5;
  margin-top: 130px; }

.app__content {
  padding-top: 24px; }

.category {
  border-radius: 2px;
  background-color: #fff; }

.category__heading {
  margin-top: 0;
  padding: 16px 8px 0;
  font-size: 1.6rem;
  font-weight: 500;
  color: #444; }

.category-list {
  padding-left: 0;
  padding-bottom: 8px;
  list-style: none; }

.category-item {
  position: relative; }

.category-item:first-child::before {
  display: none; }

.category-item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  border-top: 1px solid #ddd; }

.category-item--active .category-item__link {
  color: #1c6758; }

.category-item--active .category-item__link::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 8px;
  border: solid;
  transform: translateY(calc(-50% - 1px));
  border-width: 4px 6px;
  border-color: transparent transparent transparent #1c6758; }

.category-item__link {
  display: block;
  padding: 10px 18px;
  font-size: 1.4rem;
  text-decoration: none;
  color: #444;
  text-transform: uppercase;
  /* Hiệu ứng chữ dịch sang phải khi di chuột vào */
  position: relative;
  right: 0;
  transition: right linear 0.1s; }

.category-item__link:hover {
  right: -4px;
  color: #1c6758; }

/* Mobile Category */
.mobile-category {
  display: none; }

.mobile-category__list {
  display: flex;
  padding-left: 0;
  list-style: none;
  /* Thanh Scroll */
  max-width: 100%;
  overflow-x: auto; }

/* Ẩn đi thanh scrollbar */
.mobile-category__list::-webkit-scrollbar {
  display: none; }

.mobile-category__item {
  /* Thu nhỏ item con để vừa vs thèn cha */
  flex-shrink: 0;
  margin-right: 10px; }

.mobile-category__item:nth-of-type(3n - 2) .mobile-category__link {
  background-color: #87afd8; }

.mobile-category__item:nth-of-type(3n - 1) .mobile-category__link {
  background-color: #76c9bd; }

.mobile-category__item:nth-of-type(3n) .mobile-category__link {
  background-color: #88cf81; }

.mobile-category__link {
  display: block;
  width: 110px;
  height: 4rem;
  padding: 0 6px;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 2rem;
  text-align: center;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  overflow: hidden;
  /* Dấu 3 chấm khi nội dung quá dài */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  /* Khi nhấn vào button trên mobile sẽ k có hiệu ứng đổi màu */
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent; }

/* Home Sort + Filter */
.home-filter {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.04); }

.home-filter__label {
  color: #444;
  margin-right: 16px;
  font-size: 1.4rem; }

.home-filter__btn {
  margin-right: 10px;
  background-color: #fff; }

.select-input__list {
  z-index: 1; }

.home-filter__page {
  display: flex;
  margin-left: auto;
  align-items: center; }

.home-filter__page-number {
  font-weight: 500;
  font-size: 1.4rem;
  margin-right: 20px;
  color: #444; }

.home-filter__page-current {
  color: #1c6758; }

.home-filter__page-control {
  display: flex;
  width: 72px;
  height: 36px;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  overflow: hidden; }

.home-filter__page-btn {
  flex: 1;
  display: flex;
  font-size: 1.4rem;
  text-decoration: none;
  color: #444; }

.home-filter__page-btn--disable {
  cursor: default;
  background-color: #f9f9f9; }

.home-filter__page-btn--disable .home-filter__page-icon {
  color: #ccc; }

.home-filter__page-btn:first-child {
  border-right: 1px solid #ddd; }

.home-filter__page-icon {
  margin: auto;
  font-size: 1.4rem;
  color: #444; }

/* Product Item */
.product-item {
  margin: 0 !important; }

.home-product {
  margin-bottom: 12px; }

.home-product-item {
  position: relative;
  display: block;
  margin-top: 10px;
  text-decoration: none;
  background-color: #fff;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  will-change: transform;
  transition: transform ease-in 0.1s; }

.home-product-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.05); }

.home-product-item__img {
  padding-top: 100%;
  background-repeat: no-repeat;
  /* Ảnh co lại */
  background-size: contain;
  /* Ảnh nằm giữa trọng tâm */
  background-position: center; }

.home-product-item__name {
  /* Chiều cao của 1 dòng */
  line-height: 1.8rem;
  height: 3.6rem;
  margin: 10px 10px 6px;
  font-weight: 400;
  font-size: 1.4rem;
  color: #444;
  overflow: hidden;
  display: block;
  /* Cú pháp để sử dụng các tính năng trong webkit */
  display: -webkit-box;
  /* Hướng box theo chiều dọc */
  -webkit-box-orient: vertical;
  /* Hạn chế phần content của 1 khối (dấu 3 chấm) */
  -webkit-line-clamp: 2; }

.home-product-item__price {
  display: flex;
  /* Cân bằng 2 mệnh giá */
  align-items: baseline;
  padding: 0 10px 8px; }

.home-product-item__price-old {
  color: #666;
  font-size: 1.4rem;
  /* Gạch ngang giữa chữ */
  text-decoration: line-through; }

.home-product-item__price-current {
  margin-left: 5px;
  font-size: 1.6rem;
  color: #1c6758; }

.home-product-item__action {
  display: flex;
  justify-content: space-between;
  padding: 0 10px 6px; }

.home-product-item__like {
  font-size: 1.4rem; }

/* Thêm thẻ i vào trước để display:none để mạnh hơn display:block phía trên */
i.home-product-item__like-icon-fill {
  display: none; }

.home-product-item__like--liked .home-product-item__like-icon-fill {
  display: block;
  color: #f53d2f; }

.home-product-item__like--liked .home-product-item__like-icon-empty {
  display: none; }

.home-product-item__rating {
  margin-left: auto;
  color: #d5d5d5;
  /* Hiệu chỉnh kích thước cho các ngôi sao */
  transform: scale(70%);
  transform-origin: right; }

.home-product-item__gold {
  color: #f7d333; }

.home-product-item__sold {
  margin-left: 8px;
  font-weight: 400;
  font-size: 1.2rem;
  color: #000; }

.home-product-item__origin {
  display: flex; }

.home-product-item__origin-name {
  margin-left: auto;
  padding: 0 10px 8px;
  font-size: 1.2rem;
  font-weight: 400;
  color: #666; }

.home-product-item__favourite {
  position: absolute;
  padding: 2px 8px;
  top: 10px;
  left: -4px;
  font-weight: 500;
  font-size: 1.2rem;
  color: #1c6758;
  background-color: currentColor;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px; }

.home-product-item__favourite span {
  color: #fff; }

.home-product-item__favourite::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  border-top: 3px solid currentColor;
  border-left: 3px solid transparent;
  /* Giảm độ sáng của màu phía trên*/
  filter: brightness(60%); }

.home-product-item__sale-off {
  position: absolute;
  top: 0;
  right: 0;
  width: 38px;
  height: 32px;
  text-align: center;
  background-color: rgba(253, 214, 55, 0.94); }

.home-product-item__sale-off::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -4px;
  color: rgba(253, 214, 55, 0.94);
  border-width: 0 19px 4px;
  border-style: solid;
  border-color: transparent currentColor transparent currentColor; }

.home-product-item__sale-off-percent {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #1c6758; }

.home-product-item__sale-off-label {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.4rem;
  color: #fff; }

/* Pagination */
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-tap-highlight-color: transparent; }

.home-product__pagination {
  margin: 48px 0 36px; }

.pagination-item {
  margin: 0 12px;
  list-style: none; }

.pagination-item--active .pagination__link {
  border-radius: 3px;
  color: #fff;
  background-color: #1c6758; }

.pagination-item--active:hover .pagination__link {
  opacity: 0.9; }

.pagination__link {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  min-width: 45px;
  height: 35px;
  line-height: 35px;
  color: #939393;
  text-align: center;
  text-decoration: none; }

.pagination-item__icon {
  position: relative;
  top: 1px; }

/* Footer */
.footer {
  padding-top: 36px;
  border-top: 4px solid #1c6758; }

.footer__heading {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #444; }

.footer-list {
  list-style: none;
  padding-left: 0; }

.footer-item__link {
  color: #737373;
  font-size: 1.3rem;
  text-decoration: none;
  padding: 6px 2px;
  display: flex;
  align-items: center; }

.footer-item__link:hover {
  color: #1c6758; }

.footer-item__icon {
  font-size: 1.6rem;
  margin: -2px 8px 0 0; }

.footer__download {
  display: flex; }

.footer__download-qr {
  width: 80px;
  height: 80px;
  margin-right: 16px;
  border: 1px solid #ddd; }

.footer__dowload-apps {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.footer__dowload-app-link {
  padding: 6px 0;
  color: transparent;
  text-decoration: none; }

.footer__dowload-app-img {
  height: 18px; }

.footer__bottom {
  padding: 12px;
  margin-top: 36px;
  background-color: #f5f5f5; }

.footer__text {
  margin: 0;
  font-size: 1.2rem;
  text-align: center;
  color: #000; }

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes growth {
  from {
    opacity: 0;
    transform: scale(0); }
  to {
    opacity: 1;
    transform: scale(1); } }

/* Button */
.btn {
  /* Để giá trị tối thiểu để có thể tăng kích thước sau này */
  min-width: 120px;
  min-height: 38px;
  padding: 0;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center; }

.btn-primary {
  color: #fff;
  background-color: #f6412e; }

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  /* Đặt "flex" để căn giữa màn hình phần modal__body */
  display: flex;
  display: none; }

.modal.active {
  display: flex; }

.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); }

.modal__body {
  /* Sử dụng lệnh này ở con để căn giữa */
  margin: auto;
  border-radius: 5px;
  background-color: #fff;
  position: relative;
  z-index: 1;
  animation: growth linear 0.2s; }

.form-size__register {
  width: 430px; }

.form-size__login {
  width: 430px;
  height: 440px; }

.select-input {
  position: relative;
  height: 38px;
  min-width: 180px;
  font-size: 1.4rem;
  padding: 0 12px;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.select-input::before {
  content: '';
  display: block;
  position: absolute;
  top: 21px;
  right: 0;
  width: 100%;
  height: 12px;
  color: #f6412e; }

.select-input:hover .select-input__list {
  display: block; }

.select-input__label {
  font-size: 1.4rem;
  padding-top: 3px; }

.select-input__icon {
  font-size: 1.4rem;
  position: relative;
  top: 1px; }

.select-input__list {
  position: absolute;
  left: 0;
  right: 0;
  top: 26px;
  border-radius: 2px;
  background-color: #fff;
  padding-left: 0;
  display: none;
  animation: fadeIn linear 0.2s;
  z-index: 1; }

.select-input__list::after {
  content: '';
  position: absolute;
  top: -7px;
  left: 0;
  width: 100%;
  height: 12px; }

.select-input__item {
  list-style: none;
  padding: 6px 0 6px 14px; }

.select-input__link {
  position: relative;
  right: 0;
  display: block;
  padding: 6px 0;
  font-size: 1.4rem;
  text-decoration: none;
  color: #444;
  transition: right linear 0.2s; }

.select-input__link:hover {
  color: #f6412e; }

.pagination {
  display: flex;
  align-items: center;
  justify-content: center; }

.pagination-item {
  margin: 0 12px;
  list-style: none; }

.pagination-item--active .pagination-item__link {
  color: #fff;
  background-color: #f6412e; }

.pagination-item__link {
  display: block;
  height: 30px;
  min-width: 40px;
  line-height: 30px;
  font-size: 1.6rem;
  color: #939393;
  text-align: center;
  border-radius: 2px;
  text-decoration: none; }

.grid {
  width: 100%;
  display: block;
  padding: 0; }

.grid.wide {
  max-width: 1200px;
  margin: 0 auto; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4px;
  margin-right: -4px; }

.row.no-gutters {
  margin-left: 0;
  margin-right: 0; }

.col {
  padding-left: 4px;
  padding-right: 4px; }

.row.no-gutters .col {
  padding-left: 0;
  padding-right: 0; }

.c-0 {
  display: none; }

.c-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.c-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.c-3 {
  flex: 0 0 25%;
  max-width: 25%; }

.c-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.c-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.c-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.c-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.c-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.c-9 {
  flex: 0 0 75%;
  max-width: 75%; }

.c-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.c-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.c-12 {
  flex: 0 0 100%;
  max-width: 100%; }

/* Bắt đầu hiển thị từ vị trí số tương ứng */
.c-o-1 {
  margin-left: 8.33333%; }

.c-o-2 {
  margin-left: 16.66667%; }

.c-o-3 {
  margin-left: 25%; }

.c-o-4 {
  margin-left: 33.33333%; }

.c-o-5 {
  margin-left: 41.66667%; }

.c-o-6 {
  margin-left: 50%; }

.c-o-7 {
  margin-left: 58.33333%; }

.c-o-8 {
  margin-left: 66.66667%; }

.c-o-9 {
  margin-left: 75%; }

.c-o-10 {
  margin-left: 83.33333%; }

.c-o-11 {
  margin-left: 91.66667%; }

/* >= Tablet */
@media (min-width: 740px) {
  .row {
    margin-left: -8px;
    margin-right: -8px; }
  .col {
    padding-left: 8px;
    padding-right: 8px; }
  .m-0 {
    display: none; }
  .m-1,
  .m-2,
  .m-3,
  .m-4,
  .m-5,
  .m-6,
  .m-7,
  .m-8,
  .m-9,
  .m-10,
  .m-11,
  .m-12 {
    display: block; }
  .m-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .m-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .m-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .m-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .m-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .m-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .m-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .m-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .m-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .m-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .m-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .m-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .m-o-1 {
    margin-left: 8.33333%; }
  .m-o-2 {
    margin-left: 16.66667%; }
  .m-o-3 {
    margin-left: 25%; }
  .m-o-4 {
    margin-left: 33.33333%; }
  .m-o-5 {
    margin-left: 41.66667%; }
  .m-o-6 {
    margin-left: 50%; }
  .m-o-7 {
    margin-left: 58.33333%; }
  .m-o-8 {
    margin-left: 66.66667%; }
  .m-o-9 {
    margin-left: 75%; }
  .m-o-10 {
    margin-left: 83.33333%; }
  .m-o-11 {
    margin-left: 91.66667%; } }

/* PC medium resolution > */
@media (min-width: 1113px) {
  .row {
    margin-left: -12px;
    margin-right: -12px; }
  .row.sm-gutter {
    margin-left: -5px;
    margin-right: -5px; }
  .col {
    padding-left: 12px;
    padding-right: 12px; }
  .row.sm-gutter .col {
    padding-left: 5px;
    padding-right: 5px; }
  .l-0 {
    display: none; }
  .l-1,
  .l-2,
  .l-2-4,
  .l-3,
  .l-4,
  .l-5,
  .l-6,
  .l-7,
  .l-8,
  .l-9,
  .l-10,
  .l-11,
  .l-12 {
    display: block; }
  .l-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .l-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .l-2-4 {
    flex: 0 0 20%;
    max-width: 20%; }
  .l-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .l-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .l-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .l-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .l-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .l-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .l-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .l-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .l-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .l-o-1 {
    margin-left: 8.33333%; }
  .l-o-2 {
    margin-left: 16.66667%; }
  .l-o-3 {
    margin-left: 25%; }
  .l-o-4 {
    margin-left: 33.33333%; }
  .l-o-5 {
    margin-left: 41.66667%; }
  .l-o-6 {
    margin-left: 50%; }
  .l-o-7 {
    margin-left: 58.33333%; }
  .l-o-8 {
    margin-left: 66.66667%; }
  .l-o-9 {
    margin-left: 75%; }
  .l-o-10 {
    margin-left: 83.33333%; }
  .l-o-11 {
    margin-left: 91.66667%; } }

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
  .wide {
    width: 644px; } }

/* > PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {
  .wide {
    width: 984px; }
  .wide .row {
    margin-left: -12px;
    margin-right: -12px; }
  .wide .row.sm-gutter {
    margin-left: -5px;
    margin-right: -5px; }
  .wide .col {
    padding-left: 12px;
    padding-right: 12px; }
  .wide .row.sm-gutter .col {
    padding-left: 5px;
    padding-right: 5px; }
  .wide .l-0 {
    display: none; }
  .wide .l-1,
  .wide .l-2,
  .wide .l-2-4,
  .wide .l-3,
  .wide .l-4,
  .wide .l-5,
  .wide .l-6,
  .wide .l-7,
  .wide .l-8,
  .wide .l-9,
  .wide .l-10,
  .wide .l-11,
  .wide .l-12 {
    display: block; }
  .wide .l-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .wide .l-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .wide .l-2-4 {
    flex: 0 0 20%;
    max-width: 20%; }
  .wide .l-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .wide .l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .wide .l-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .wide .l-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .wide .l-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .wide .l-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .wide .l-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .wide .l-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .wide .l-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .wide .l-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .wide .l-o-1 {
    margin-left: 8.33333%; }
  .wide .l-o-2 {
    margin-left: 16.66667%; }
  .wide .l-o-3 {
    margin-left: 25%; }
  .wide .l-o-4 {
    margin-left: 33.33333%; }
  .wide .l-o-5 {
    margin-left: 41.66667%; }
  .wide .l-o-6 {
    margin-left: 50%; }
  .wide .l-o-7 {
    margin-left: 58.33333%; }
  .wide .l-o-8 {
    margin-left: 66.66667%; }
  .wide .l-o-9 {
    margin-left: 75%; }
  .wide .l-o-10 {
    margin-left: 83.33333%; }
  .wide .l-o-11 {
    margin-left: 91.66667%; } }

/* Mobile & Tablet */
@media (max-width: 1023px) {
  :root {
    /* Set lại chiều cao và trừ đi phần navbar ban đầu về 0 để căn giữa header-with-search */ }
  .hide-on-mobile-tablet {
    display: none; }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10; }
  .header__cart {
    width: unset;
    text-align: right; }
  .header__cart-list {
    position: fixed;
    top: 78px;
    right: 0;
    width: 100%;
    /* Lấy khoảng padding 2 bên nhờ trừ đi kích thước content của thèn muốn hiển thị sau đó chia đều cho 2 bên */
    padding: 12px calc((100% - 630px) / 2); }
  .header__cart-list::after {
    display: none; }
  .header__cart-item-view-cart {
    margin-right: 12px; }
  .header__sort-bar {
    display: flex; }
  .app__container {
    margin-top: calc(78px + $header-sort-bar-height)-20px; }
  .mobile-category {
    display: block; } }

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  .hide-on-tablet {
    display: none; }
  .header__search {
    margin: 0 12px; } }

/* Mobile */
@media (max-width: 739px) {
  .hide-on-mobile {
    display: none; }
  .header-with-search {
    justify-content: space-between; }
  .header__logo-img {
    margin: 8px 0px 0px 68px;
    width: 160px;
    height: 55px; }
  .header__search {
    position: fixed;
    z-index: 1;
    top: 78px;
    left: 0;
    right: 0;
    height: 46px;
    padding: 0 12px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    animation: mobileSearchSideIn linear 0.2s;
    display: none; }
  @keyframes mobileSearchSideIn {
    from {
      opacity: 0;
      left: -200px; }
    to {
      opacity: 1;
      left: 0; } }
  .header__mobile-search {
    display: block; }
  .header__search-history {
    position: fixed;
    top: calc(($header-with-search-height + $header-sort-bar-height) + 2px);
    left: 0;
    width: 100%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); }
  .home-product__pagination {
    margin: 48px 54px 30px 12px; }
  .pagination-item {
    margin: 0 8px; }
  .pagination__link {
    height: 30px;
    font-size: 1.6rem;
    min-width: 34px; }
  .app__content {
    /* Tạo khoản hở 2 bên item sản phẩm */
    margin: 0; }
  .footer__content {
    padding: 0 16px; }
  .footer__heading {
    text-align: center; }
  .footer-item__link,
  .footer__download {
    justify-content: center; }
  .footer__dowload-apps {
    flex: unset; }
  .footer__dowload-app-link {
    display: block;
    padding: 10px 8px; } }
