$primary: #1c6758;
$dark-primary: #0e483d;
$dark: #0d2738;
$blue: #4481eb;
$red: rgb(166, 12, 12);
$white: white;
$grey: #f5f5f5;
$border: #bcbcbc;
$hover: rgba(238, 238, 238, 0.4);
$br5: 5px;

$primary-color: #f6412e;
$white-color: #fff;
$black-color: #000;
$text-color: #444;
$hover-color: #eee;
$border-color: #ddd;
$star-gold-color: rgb(247, 211, 51);
$header-height: 130px;
$navbar-height: 34px;
$header-with-search-height: calc($header-height - $navbar-height);
$header-with-search-height: 32px;
$header-sort-bar-height: 46px;
