<div class='container-wrap__login register-mode'>
    <div class='form-container__login'>
        <div class='content-left'>
            <form action='#' class='form-action-login form-action-register'>
                <h2 class='title'>Đăng Ký</h2>
               
                <div class='input-field'>
                    <input required type='text' placeholder='Tên đăng nhập' id="username-register" />
                    <ion-icon name='person'></ion-icon>
                </div>
                <div class='input-field'>
                    <ion-icon name='lock-closed'></ion-icon>
                    <input required type='password' placeholder='Mật khẩu' id="pass-register" />
                </div>
                <div class='input-field'>
                    <ion-icon name='lock-closed'></ion-icon>
                    <input required type='password' placeholder='Nhập lại mật khẩu' id="repeat-pass-register" />
                </div>
                <div class='form-more'>
                    <p class="text text-notify hidden"> Mật khẩu chưa trùng khớp !
                </div> 
                <div class='form-more'>
                    <p class="text text-notify-user hidden"> User này đã tồn tại !
                </div> 
                
                <button onclick="handleRegister()" type='submit' class='btn btn-login btn-register'>Đăng Ký</button>
            </form>
        </div>
        <div class='content-right'>
            <div class='panel-content'>
                <h1>Welcome to Register</h1>
                <span class='loader'></span>
                <div class='btn-pass'><a href='/auth/login'></a></div>
                <img style='width: 100%;' src='https://mycolor.space/img/color-scheme-right.svg' alt='' />
            </div>
        </div>
    </div>
</div>

<!-- Modal Layout -->
<div class='my-modal' id='my-modal--confirm'>
    <div class='my-modal__overlay'></div>
    <a href='#' class='overlay-close'></a>

    <div class='my-modal__body'>
        <!-- Register Form -->
        <div class='auth-form'>
            <div class='form-content'>
                <h2>Cần xác thực admin trước khi đăng ký</h2>

                <form action='#' class='form-confirm'>
                    <div class='input-field'>
                        <input type='text' id="user-admin" placeholder='Tên đăng nhập' />
                        <ion-icon name='person'></ion-icon>
                    </div>
                    <div class='input-field'>
                        <ion-icon name='lock-closed'></ion-icon>
                        <input type='password' id="pass-admin" placeholder='Mật khẩu admin' />
                    </div>

                    <button onclick="handleConfirm()" type='submit' class='btn btn-login btn-confirm-admin'>
                        Xác Thực
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

