@charset "UTF-8";
.container-wrap__login {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.register-mode .form-container__login {
  width: 1000px;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.08);
  border-radius: 10px; }

.content-left,
.content-right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.register-mode .content-left {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: white; }

.register-mode .content-right {
  background-color: #1c6758;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }

.panel-content {
  display: flex;
  align-items: center;
  flex-direction: column; }

.panel-content h1 {
  font-size: 3.2rem;
  color: white; }

.panel-content p {
  font-size: 1.6rem;
  color: white;
  margin: 0; }

.register-mode .panel-content img {
  width: 90% !important;
  position: relative;
  right: -90px;
  top: 54px; }

.input-field {
  position: relative; }

.input-field ion-icon {
  position: absolute;
  left: 5px;
  bottom: 22px;
  font-size: 1.7rem;
  padding: 0px 8px; }

.input-field input {
  font-size: 1.7rem;
  width: 100%;
  padding: 8px 15px 6px 36px;
  margin: 8px 0;
  border: 1px solid #bcbcbc;
  border-radius: 5px;
  outline: none; }

.icon-eye {
  position: relative;
  left: 327px;
  bottom: 38px;
  font-size: 1.7rem; }

.register-mode .btn-pass a:after {
  position: absolute;
  content: 'Đã có tài khoản ?';
  height: 40px;
  width: 208px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px; }

.register-mode .btn-pass a:before {
  position: absolute;
  content: 'Đăng Nhập';
  height: 40px;
  width: 208px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px; }

.register-mode .loader {
  position: relative;
  width: 20px;
  height: 30px;
  top: -42px;
  right: -200px;
  animation: heartBeat 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1); }

.form-content {
  width: 500px;
  height: 400px;
  background-color: #fff;
  padding: 52px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  flex-direction: column; }
  .form-content h2 {
    color: #e81212;
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif; }

.btn-confirm-admin {
  margin-top: 32px;
  color: white; }

.form-confirm {
  width: 100%; }
