.container-left {
  position: relative; }

.sidebar {
  position: fixed;
  width: 300px;
  height: 100%;
  top: 0;
  overflow: hidden;
  transition: 0.8s;
  background-color: #1c6758; }

.sidebar.active {
  width: 73px; }

.nav-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 10px; }

.nav-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px; }
  .nav-heading a {
    width: fit-content; }

.logo-img {
  width: 80%; }

.nav-item {
  position: relative;
  width: 100%;
  font-size: 1.8rem;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  cursor: pointer; }

.nav-item:hover,
.nav-item:hover.active-mode-color,
.nav-item.active,
.nav-item.active-mode-color {
  background-color: white; }

.nav-item:hover .nav-item-link,
.nav-item.active .nav-item-link {
  color: #1c6758; }

.active-item.nav-item:hover .nav-item-link,
.active-mode-color.nav-item .nav-item-link {
  color: #0d2738; }

.nav-item-link {
  color: white;
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  align-items: center; }

.nav-icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 26px;
  line-height: 60px;
  text-align: center;
  cursor: pointer; }
  .nav-icon ion-icon {
    font-size: 2.4rem; }

.nav-icon-heading {
  cursor: pointer;
  width: 60px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 2px; }
  .nav-icon-heading ion-icon {
    font-size: 2.8rem;
    color: white; }

.nav-title {
  position: relative;
  display: block;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
  margin-left: 3px;
  display: flex;
  align-items: center; }

.nav-item:hover .nav-item-link::before,
.active-item.nav-item:hover .nav-item-link::before,
.nav-item.active .nav-item-link::before,
.nav-item.active-mode-color .nav-item-link::before {
  content: '';
  position: absolute;
  top: -50px;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 35px 35px 0 10px white;
  pointer-events: none; }

.nav-item:hover .nav-item-link::after,
.active-item.nav-item:hover .nav-item-link::after,
.nav-item.active .nav-item-link::after,
.nav-item.active-mode-color .nav-item-link::after {
  content: '';
  position: absolute;
  bottom: -50px;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 35px -35px 0 10px white;
  pointer-events: none; }

.copyright {
  position: absolute;
  bottom: 22px;
  left: 32px;
  pointer-events: none;
  width: 265px;
  display: none; }
  .copyright h2 {
    color: rgba(0, 0, 0, 0.799);
    font-size: 1.6rem; }
